    <div class="grid ">
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_contype">{{ 'clientContactLabels.contactType' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactType}}</span>
        </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_conname">{{ 'clientContactLabels.contactName' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactName}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_conemail">{{ 'clientContactLabels.contactEmail' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactEmail}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_cadd1">{{ 'clientContactLabels.contactAddressLine1' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactAddressLine1}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_cadd2">{{ 'clientContactLabels.contactAddressLine2' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactAddressLine2}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_clicity">{{ 'clientContactLabels.city' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactCity}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_clistate">{{ 'clientContactLabels.state/province' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactStateProvince}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_clizip">{{ 'clientContactLabels.zip' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactZip}}</span>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <label for="_clicountry">{{ 'clientContactLabels.country' | translate }}</label><br>
          <span class="disabledFields">{{allReviewData?.assignmentTeamAddr?.contactCountry}}</span>
      </div>
    </div>