    <div class="grid">
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_nightDifferentialBill">{{ 'timeElementsAndRatesLabels.nightDifferentialBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_nightDifferentialStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blNigtDiffrlStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_nightDifferentialOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blNigtDiffrlOt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_nightDifferentialDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blNigtDifferentialDt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_nightDifferentialEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blNigtDiffrlEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_nightDifferentialEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blNigtDiffrlEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_mealPremiumBill">{{ 'timeElementsAndRatesLabels.mealPremiumBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mealPremiumStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMealPrmStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mealPremiumOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMealPrmOt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mealPremiumDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMealPrmDt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mealPremiumEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMealPrmEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_mealPremiumEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMealPrmEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_onCallOrPagerBill">{{ 'timeElementsAndRatesLabels.onCallOrPagerBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_onCallStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blOnCallPagerStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_onCallOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blOnCallPagerOt}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_onCallDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blOnCallPagerDt}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_onCallEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blOnCallPagerEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_onCallEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blOnCallPagerEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_healthAndWelfareBill">{{ 'timeElementsAndRatesLabels.healthAndWelfareBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_healthWelfareStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHealthWelfareStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_healthWelfareOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHealthWelfareOt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_healthWelfareDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHealthWelfareDt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_healthWelfareEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHealthWelfareEffDateFrom}}</span>

        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_effectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHealthWelfareEffDateEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_vacationBillableBill">{{ 'timeElementsAndRatesLabels.vacationBillableBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_vacationBillableStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blVacBlableStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_vacationBillableOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blVacBillableOt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_vacationBillableDoubleTimePay">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blVacBillableDt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_vacationBillableEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blVacBillableEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_vacationBillableEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blVacBillableEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_mileageBill">{{ 'timeElementsAndRatesLabels.mileageBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mileageStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMileageStd}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mileageOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMileageOt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mileageDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMileageDt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_mileageEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMileageEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_mileageEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blMileageEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_sickPayBill">{{ 'timeElementsAndRatesLabels.sickPayBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_sickStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blSickStd}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_sickOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blSickOt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_sickDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blSickDt}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_sickEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blSickEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_sickEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blSickEffDateEnd}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2 timeSetupTitle">
            <label for="_holidayPayBill">{{ 'timeElementsAndRatesLabels.holidayPayBill' | translate }}</label>
            <div class="line"></div>
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_holidayStandardBill">{{ 'timeElementsAndRatesLabels.standard' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHolidayStd}}</span>
           
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_holidayOverTimeBill">{{ 'timeElementsAndRatesLabels.overTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHolidayOt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_holidayDoubleTimeBill">{{ 'timeElementsAndRatesLabels.doubleTime' | translate }}</label
            ><br />
            <!-- <div class="p-input-icon-left">
                <i class="pi pi-dollar"></i>
            </div> -->
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHolidayDt}}</span>
            
        </div>
        <div class="col-12 md:col-2 lg:col-2 divWidth">
            <label for="_holidayEffectiveDate">{{ 'timeElementsAndRatesLabels.effectiveDate' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHolidayEffDateFrom}}</span>
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="_holidayEffectiveEnd">{{ 'timeElementsAndRatesLabels.effectiveEnd' | translate }}</label
            ><br />
            <span class="disabledFields">{{allReviewData?.timeElementsRates?.blHolidayEffDateEnd}}</span>
        </div> 
    </div>
