<div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('poNumber')">
        <label for="_ponumber">PO Number</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.poNumber}}</span>
    </div>
    <!-- <div class="col-12 md:col-6 lg:col-4">
        <label  for="_podescription">PO Description</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.poDescription}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label  for="_poeffectivedate">PO Effective Date</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.poEffective}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4 ">
        <label  for="_poenddate">PO End Date</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.poEnd}}</span>
    </div> -->
</div>