<div class="card">
    <p-accordion [multiple]="true" [activeIndex]="[0,1,2,3]">
        <p-accordionTab header="Personal Details">
            <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label ">
                            <label>{{ 'workerInfoLabel.firstName' | translate }}:</label>
                        </div>
                        <div class="col-7">
                            <label>Priyanka</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>{{ 'workerInfoLabel.middleName' | translate }}:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>{{ 'workerInfoLabel.lastName' | translate }}</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>{{ 'workerInfoLabel.preferredName' | translate }}:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>{{ 'workerInfoLabel.Gender' | translate }}:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>{{ 'workerInfoLabel.birthDate' | translate }}:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Tax ID:</label>
                        </div>
                        <div class="col-7">
                            <label>Priyanka</label>
                        </div>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Contact Information" class="mt-3">
            <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Mobile Number:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-6 personal-details-label">
                            <label>Home Phone:</label>
                        </div>
                        <div class="col-6">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Primary Email:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Bussiness Email:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-6 personal-details-label">
                            <label>Preffered Contact Method:</label>
                        </div>
                        <div class="col-6">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
            
              
            </div>
        </p-accordionTab>
        <p-accordionTab header="Address" class="mt-3">

        </p-accordionTab>
        <p-accordionTab header="Citizen & Immigration Status">
            <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-6 personal-details-label">
                            <label>Immigration Status:</label>
                        </div>
                        <div class="col-6">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Visa Type:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Visa Start Date:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-6 personal-details-label">
                            <label>Visa End Date:</label>
                        </div>
                        <div class="col-6">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-4 mb-0">
                    <div class="grid">
                        <div class="col-5 personal-details-label">
                            <label>Visa/Permit:</label>
                        </div>
                        <div class="col-7">
                            <label>Name</label>
                        </div>
                    </div>
                </div>
            
              
            </div>
        </p-accordionTab>
    </p-accordion>
</div>