<div class="inline-flex align-items-center col-12 workerHeader header-width">
    <p class="fw-055 pm-00 primarycolor">{{ 'menuItem.worker_search' | translate }}</p>
</div>
<div class="flex flex-column pt-4">
    <div class="surface-section flex-auto">
        <p-panel class="panel-styling" header="{{ 'SearchLabels.advanceSearch' | translate }}" [toggleable]="true"
            [collapsed]="collapse" (collapsedChange)="advancecurrentSearchCollapser()">
            <ng-template pTemplate="icons">
                <div class="search mr-2 pd-00">
                    <p-button icon="pi pi-refresh" severity="info" [autoHide]="false"
                        [disabled]="isAdvanceSearchBtnEnabled()" tooltipPosition="bottom"
                        pTooltip="{{ 'workerSearchComponent.tooltips.refreshGrid' | translate }}"
                        (onClick)="getWorkerSearch(workerSearchDataTable, true);"></p-button>
                </div>
                <div class="search mr-2 pd-00">
                    <p-button [disabled]="!(dataTable && dataTable.length > 0)" icon="pi pi-file-excel" severity="info"
                        tooltipPosition="bottom" [autoHide]="false"
                        pTooltip="{{ 'workerSearchComponent.tooltips.downloadSearchResult' | translate }}"
                        (click)="exportToCSV()"></p-button>
                </div>
                <div class="search mr-2 pd-00">
                    <p-button [disabled]="!(dataTable && dataTable.length > 0)" icon="pi pi-sliders-h" (onClick)="showColumns()"
                        severity="info" tooltipPosition="bottom" [autoHide]="false"
                        pTooltip="{{ 'workerSearchComponent.tooltips.selectColumns' | translate }}">
                    </p-button>
                    <p-dialog header="{{'placementRepoComponentLevel.tooltips.customSelectColumns' | translate }}"
                        [(visible)]="searchColumns" [style]="{width: '70vw'}" (onHide)="onHide();  pl.resetFilter()">
                        <p class="customMsgHeader">{{'placementRepoComponentLevel.tooltips.customeSelectMessage' |
                            translate }}</p>
                        <p-pickList #pl [source]="sourceTable" [target]="targetTable"
                            sourceHeader="{{'placementRepoComponentLevel.tooltips.availableFields' | translate }}"
                            targetHeader="{{'placementRepoComponentLevel.tooltips.selectedFields' | translate }}"
                            [dragdrop]="true" [responsive]="true" (onMoveToTarget)="moveToTarget()"
                            (onMoveToSource)="moveToSource()" (onMoveAllToTarget)="moveToTarget()"
                            (onMoveAllToSource)="moveToSource()" [sourceStyle]="{ height: '20rem' }"
                            [targetStyle]="{ height: '20rem' }" filterBy="field"
                            sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                            <ng-template let-sourceTable pTemplate="selectedCols">
                                <div class="flex flex-wrap align-items-center">
                                    <span>{{ sourceTable.header | translate }}</span>
                                </div>
                            </ng-template>
                        </p-pickList>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" label="Reset"
                                (click)="columnSelection(); pl.resetFilter()"
                                class="p-button-danger column-sel-bt"></button>
                            <p-button severity="info" [disabled]="searchColsApply"
                                (click)="columnSelection(true); pl.resetFilter()" label="Apply"></p-button>
                        </ng-template>
                    </p-dialog>
                </div>
            </ng-template>

            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                    <p class="mr">{{ 'workerSearchComponent.advanceSearch.legalEmployer' | translate }}</p>
                    <p-multiSelect [options]="RegisteredBUList" [(ngModel)]="registeredBUStatus" optionLabel="name"
                        [showClear]="true" [resetFilterOnHide]="true" [filter]="true" class="dropdown"
                        placeholder="{{ 'workerSearchComponent.placeHoldings.legalEmployer' | translate }}"></p-multiSelect>
                    <span class="pi pi-info-circle icon-circle" [autoHide]="false" tooltipPosition="top"
                        pTooltip="{{ 'workerSearchComponent.tooltips.selectedInfo' | translate }}"
                        (click)="showBUInfo.toggle($event)"></span>
                    <p-overlayPanel #showBUInfo>
                        <ng-template pTemplate="content">
                            <li class="overlaycontent-p" *ngFor="let value of registeredBUStatus">{{ value.name }}</li>
                        </ng-template>
                    </p-overlayPanel>
                </div>
                <div class="col-12 md:col-6 lg:col-1"></div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="border-round-sm">
                        <p class="mr">{{ 'workerSearchComponent.advanceSearch.customerNameAccount' | translate }}</p>
                        <p-multiSelect [options]="ClientaccountList" class="pl-02 dropdown"
                            [(ngModel)]="clientaccountStatus" [showClear]="true" [resetFilterOnHide]="true"
                            [filter]="true" optionLabel="name"
                            placeholder="{{ 'workerSearchComponent.placeHoldings.customerNameAccount' | translate }}"></p-multiSelect>
                        <span class="pi pi-info-circle icon-circle" [autoHide]="false" tooltipPosition="top"
                            pTooltip="{{ 'workerSearchComponent.tooltips.selectedInfo' | translate }}"
                            (click)="showCAInfo.toggle($event)"></span>
                        <p-overlayPanel #showCAInfo>
                            <ng-template pTemplate="content">
                                <li class="overlaycontent-p" *ngFor="let value of clientaccountStatus">{{ value.name }}
                                </li>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-1"></div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="border-round-sm">
                        <p class="mr">{{ 'workerSearchComponent.advanceSearch.cESEES' | translate }}</p>
                        <p-multiSelect [options]="cesEesList" class="pl-02 dropdown" [(ngModel)]="cesEesStatus"
                            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                            [resetFilterOnHide]="true" [filter]="true"
                            placeholder="{{ 'workerSearchComponent.placeHoldings.cESEES' | translate }}"></p-multiSelect>
                        <span class="pi pi-info-circle icon-circle" [autoHide]="false" tooltipPosition="top"
                            pTooltip="{{ 'workerSearchComponent.tooltips.selectedInfo' | translate }}"
                            (click)="showCEInfo.toggle($event)"></span>
                        <p-overlayPanel #showCEInfo>
                            <ng-template pTemplate="content">
                                <li class="overlaycontent-p" *ngFor="let value of cesEesStatus">{{ value.name }}</li>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-1"></div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="border-round-sm">
                        <p class="mr">{{ 'workerSearchComponent.advanceSearch.lineOfBusiness' | translate }}</p>
                        <p-multiSelect [options]="LOBList" class="pl-02 dropdown" [(ngModel)]="LOBStatus"
                            optionLabel="name" [showClear]="true" [resetFilterOnHide]="true" [filter]="true"
                            placeholder="{{ 'workerSearchComponent.placeHoldings.lineOfBusiness' | translate }}"></p-multiSelect>
                        <span class="pi pi-info-circle icon-circle" [autoHide]="false" tooltipPosition="top"
                            pTooltip="{{ 'workerSearchComponent.tooltips.selectedInfo' | translate }}"
                            (click)="showSLInfo.toggle($event)"></span>
                        <p-overlayPanel #showSLInfo>
                            <ng-template pTemplate="content">
                                <li class="overlaycontent-p" *ngFor="let value of LOBStatus">{{ value.name }}</li>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-1"></div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="border-round-sm">
                        <p class="mr">{{ 'workerSearchComponent.advanceSearch.filterByStatus' | translate }}</p>
                        <p-multiSelect [options]="AssignemnetList" class="pl-02 dropdown"
                            [(ngModel)]="assignemnetStatus" optionLabel="name" [showClear]="true"
                            [resetFilterOnHide]="true" [filter]="true"
                            placeholder="{{ 'workerSearchComponent.placeHoldings.filterByStatus' | translate }}"></p-multiSelect>
                        <span class="pi pi-info-circle icon-circle" [autoHide]="false" tooltipPosition="top"
                            pTooltip="{{ 'workerSearchComponent.tooltips.selectedInfo' | translate }}"
                            (click)="showASInfo.toggle($event)"></span>
                        <p-overlayPanel #showASInfo>
                            <ng-template pTemplate="content">
                                <li class="overlaycontent-p" *ngFor="let value of assignemnetStatus">{{ value.name }}
                                </li>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-1"></div>
                <div class="col-12 md:col-6 lg:col-3 mt-01">
                    <div class="search">
                        <p-button icon="pi pi-search" severity="info" [autoHide]="false"
                            [disabled]="isAdvanceSearchBtnEnabled()" tooltipPosition="bottom"
                            pTooltip="{{ 'workerSearchComponent.tooltips.search' | translate }}"
                            (onClick)="workerSearchFilterData(false); advancecurrentSearchCollapser()"></p-button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>
<div class="grid">
    <div class="col-12" *ngIf="!hideGrid">
        <div class="pt-2">
            <p-table #dt [class.tableView]="collapse === true" [columns]="cols" [value]="dataTable" [paginator]="true"
                (onLazyLoad)="getWorkerSearch($event, false)" [lazy]="true" [resetPageOnSort]="true"
                [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [rows]="25"
                currentPageReportTemplate="{first} to {last} of {totalRecords}" responsiveLayout="scroll" [breakpoint]="'960px'"
                [tableStyle]="" [rowsPerPageOptions]="[25, 50, 100]" [scrollable]="true" scrollHeight="15.5rem"
                selectionMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th id="worker_search" *ngFor="let col of columns"
                            [alignFrozen]="col.field == 'actions' ? 'right' : 'left'" pFrozenColumn
                            [frozen]="col.field == 'actions' || col.field == 'fusionAssignmentId' || col.field == 'fusionEmployeeId'"
                            [pSortableColumn]="col.field" [ngStyle]="{'min-width': col.width}">
                            {{ col.header | translate }}<p-sortIcon *ngIf="col.field != 'actions'" [field]="col.field"
                                [ngClass]="'right'"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th id="worker_search_filter" *ngFor="let col of columns"
                            [alignFrozen]="col.field == 'actions' ? 'right' : 'left'" pFrozenColumn
                            [frozen]="col.field == 'actions' || col.field == 'fusionAssignmentId' || col.field == 'fusionEmployeeId'">
                            <span class="p-input-icon-right ml-auto" *ngIf="col.field !== 'actions'">
                                <i class="pi pi-search"></i>
                                <input pInputText *ngIf="col.field !== 'actions'"
                                    (input)="$any(dt).filter($any($event.target).value, col.field, 'contains')"
                                    [value]="$any(dt).filters[col.key]?.value" />
                            </span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" [alignFrozen]="col.field == 'actions' ? 'right' : 'left'" pFrozenColumn
                            [frozen]="col.field == 'actions' || col.field == 'fusionAssignmentId' || col.field == 'fusionEmployeeId'"
                            (click)="openPreviewOnAsgmtID(col.field === 'fusionAssignmentId',rowData.assignmentId)">
                            <ng-container *ngIf="col.field !== 'actions'; else actionsColumn">
                                {{ rowData[col.field] }}
                            </ng-container>
                            <ng-template [ngSwitch]="pageName" #actionsColumn>
                                <span *ngSwitchCase="'workerSearch'" ngif="pageName">
                                    <span *ngIf="isActionAvailable('Employee-Dashboard')" class="pi pi-th-large icon-circle pd-00" [autoHide]="false" tooltipPosition="top"
                                        pTooltip="{{ 'iconLabels.dashboard' | translate }}" tooltipPosition="top"
                                        (click)="openEmployeeDashboard(rowData)"></span>
                                    <span *ngIf="isActionAvailable('CRM')" class="pi pi-history icon-circle pd-04" pTooltip="{{ 'changeRequestMgmt.header.addChangeRequest' |
                                    translate }}"
                                        tooltipPosition="top"
                                        (click)="openChangeRequest(rowData)"></span>
                                    <span class="pi pi-ellipsis-v icon-circle icon-circle-blue"
                                        (click)="showOpIcons.toggle($event)"></span>
                                    <p-overlayPanel #showOpIcons styleClass="iconOverlayPanelMore">
                                        <div *ngIf="isActionAvailable('Preview')" class="flex align-items-center iconsOverlayPanel"
                                        (click)="openPreviewDialog(rowData.assignmentId, 'workerSearch')">
                                            <i class="pi pi-eye tootip-icons-size">
                                                    <span class="ml-2 fontStyle"
                                                    >{{ 'iconLabels.preview' | translate }}</span>
                                            </i>
                                        </div>
                                    </p-overlayPanel>
                                </span>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="emptyMsg">{{'placementRepoComponentLevel.advanceSearch.noResultsFound' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- <div class="col-12" [hidden]="!hideGrid"></div> -->
</div>
