<div class="box">

    <div class="grid">
        <!--Basic Info Section-->
        <div class="col-12 basicInfo ">
            <div class="col-2 emp-info ">
                <div class="empInfo">{{'empDashboardLabels.basicInfo' | translate}}</div>
            </div>
            <div class="col-1 field">
                <div class="field-name">{{ 'workerInfoLabel.placementId' | translate }} :</div>
                <div class="field-value">{{reviewData && reviewData.placementId ? reviewData.placementId : ''}}</div>
            </div>
            <div class="col-1 field">
                <div class="field-name">{{ 'workerInfoLabel.jobId' | translate }} :</div>
                <div class="field-value">{{reviewData && reviewData.assignment && reviewData.assignment.atsJobId ?
                    reviewData.assignment.atsJobId : ''}}</div>
            </div>
            <div class="col-2 field">
                <div class="field-name">{{'placementRepoComponentLevel.advanceSearch.workerName' | translate}} :</div>
                <div class="field-value">{{reviewData && reviewData.person && reviewData.person.firstName ?
                    reviewData.person.firstName : ''}} {{reviewData && reviewData.person && reviewData.person.lastName ?
                    reviewData.person.lastName : ''}}</div>
            </div>
            <div class="col-2 field">
                <div class="field-name">{{'hcmIdentifierLabels.personType' | translate}} :</div>
                <div class="field-value">{{reviewData && reviewData.assignment && reviewData.assignment.hcmPersonType ?
                    reviewData.assignment.hcmPersonType : ''}}</div>
            </div>
            <div class="col-2 field">
                <div class="field-name">{{ 'organisationalLabel.ATSsupplierName' | translate }} :</div>
                <div class="field-value">{{reviewData && reviewData.assignment && reviewData.assignment.supplierName ?
                    reviewData.assignment.supplierName : ''}}</div>
            </div>
            <div class="col-2 field end-field">
                <div class="field-name">{{ 'workerInfoLabel.placementStatus' | translate }} :</div>
                <div class="field-value">{{reviewData && reviewData.assignment && reviewData.assignment.placementStatus
                    ? reviewData.assignment.placementStatus : ''}}</div>
            </div>
        </div>
        <!-- <div class="grid">
            <div class="col-12">
            <p-messages *ngIf="isError" [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
            </div>
        </div> -->
        <div class="col-12 ">
            <div class="headerSection">
                <div class="tab">{{ 'placementReviewLevel.placementReviewHeader' | translate }}</div>
                <div class="line"></div>
                <div class="icons">
                    <span *ngIf="isActionAvailable('Save')" class="pi pi-save icon-circle icon-circle-blue" [autoHide]="false" tooltipPosition="top"
                        pTooltip="{{ 'changeStatusLabels.save' | translate }}"
                        (click)="saveOrCompleteReview(false)"></span>
                    <span *ngIf="isActionAvailable('Setup-Review-Complete')" class="pi pi-check-circle icon-circle icon-circle-blue" [autoHide]="false"
                        tooltipPosition="top" pTooltip="{{ 'iconLabels.reviewCompleteSetup' | translate }}"
                        (click)="isAllReviewSectionFormsValid()"></span>
                    <span *ngIf="isActionAvailable('Finance-Review-Complete')" class="pi pi-check-circle icon-circle icon-circle-blue" [autoHide]="false" tooltipPosition="top" pTooltip="{{ 'iconLabels.reviewCompleteFinance' | translate }}" (click)="financeReview.toggle($event)"></span>
                    <p-overlayPanel #financeReview styleClass="iconOverlayPanelMore">
                        <div *ngIf="financialReviewStatusList.length != 0">
                            <div *ngFor="let item of financialReviewStatusList">
                                <div class="flex align-items-center iconsOverlayPanel"
                                    (click)="openCompleteReviewDialog('finance', item)">
                                    <!-- <i class="pi pi-eye tootip-icons-size"> -->
                                    <span class="ml-2">{{ item.name }}</span>
                                    <!-- </i> -->
                                </div>
                                <br />
                            </div>
                        </div>
                    </p-overlayPanel>
                    <span class="pi pi-ellipsis-v icon-circle icon-circle-blue"
                        (click)="moreIcons.toggle($event)"></span>
                    <p-overlayPanel #moreIcons styleClass="iconOverlayPanelMore">
                        <div *ngIf="isActionAvailable('Change-History')" class="flex align-items-center iconsOverlayPanel"
                            (click)="openChangeHistory(reviewData.caseId, reviewData.placementId)">
                            <!-- (click)="openPreviewDialog(rowData.caseId)"> -->
                            <i class="pi pi-sync tootip-icons-size">
                                <span class="ml-2 fontStyle">{{ 'iconLabels.changeHistory' | translate }}</span>
                            </i>
                        </div>
                        <br />
                        <div *ngIf="isActionAvailable('On-Hold')" class="flex align-items-center iconsOverlayPanel" (click)="showOnHold()">
                            <i class="pi pi-pause tootip-icons-size">
                                <span class="ml-2 fontStyle">{{ 'iconLabels.onHold' | translate }}</span>
                            </i>
                        </div>
                    </p-overlayPanel>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5">
        <p-messages *ngIf="isError" [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
    </div>
</div>

<div class="card">
    <p-tabView [scrollable]="true" [(activeIndex)]="index">
        <p-tabPanel>
            <ng-template pTemplate="header" style="width: auto;">
                <span  [ngClass]="{'tabError': !isWorkerAndAssignmentDataReviewValidTab}">{{
                    'workerInfoLabels.workerInfo' | translate }}</span>
            </ng-template>
            <p-fieldset *ngIf="isSectionAvailable('External Identifier')" legend="{{ 'workerInfoLabels.externalIdentifier' | translate }}" [toggleable]="true">
            <app-externalidentifier [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-externalidentifier></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Personal Information')" legend="{{ 'workerInfoLabels.personalInfo' | translate }}" [toggleable]="true">
            <app-personalinfo [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-personalinfo></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Worker Relationship')" legend="{{ 'orgDetailLabels.workerRelationship' | translate }}"
            [toggleable]="true"><app-workerrelationship [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-workerrelationship></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Supplier')" legend="{{ 'orgDetailLabels.supplier' | translate }}" [toggleable]="true"><app-supplier
                [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-supplier></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('HCM Identifiers')" legend="{{ 'workerInfoLabels.hcmIdentifiers' | translate }}" [toggleable]="true">
            <app-hcm-identifiers [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-hcm-identifiers></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Home Address')" legend="{{ 'workerInfoLabels.homeAddress' | translate }}" [toggleable]="true"> <app-homeaddress
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-homeaddress></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Immigration')" legend="{{ 'workerInfoLabels.immigration' | translate }}" [toggleable]="true"> <app-immigration
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-immigration></p-fieldset>
            <!-- <p-fieldset legend="Security Clearance" [toggleable]="true"> <app-securityclearance [reviewData]="reviewData" ></app-securityclearance></p-fieldset> -->
            <p-fieldset *ngIf="isSectionAvailable('Employment')" legend="{{ 'workerInfoLabels.employment' | translate }}" [toggleable]="true"> <app-employment
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-employment></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Assignment')" legend="{{ 'assignmentJobLabels.assignment' | translate }}" [toggleable]="true">
            <app-assignments [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-assignments></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Job')" legend="{{ 'assignmentJobLabels.job' | translate }}" [toggleable]="true"> <app-job
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-job></p-fieldset>
            <!-- <p-fieldset legend="{{ 'assignmentJobLabels.offboarding' | translate }}" [toggleable]="true"> <app-offboarding [reviewData]="reviewData"></app-offboarding></p-fieldset> -->
            <p-fieldset *ngIf="isSectionAvailable('Purchase Order')" legend="{{ 'assignmentJobLabels.purchaseOrder' | translate }}"
            [toggleable]="true"><app-purchase-order [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-purchase-order></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Shift and Schedules')" legend="{{ 'assignmentJobLabels.shift&schedule' | translate }}"
            [toggleable]="true"><app-shift-schedules [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-shift-schedules></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('VMS')" legend="{{ 'assignmentJobLabels.vms' | translate }}" [toggleable]="true"><app-vms
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-vms></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Worker Address')" legend="{{ 'assignmentJobLabels.workAddress' | translate }}"
            [toggleable]="true"><app-work-address [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-work-address></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Benefits')" legend="{{ 'benefitLabels.benefits' | translate }}" [toggleable]="true"> <app-benefits
            [reviewData]="reviewData"  [roleAttributes]="roleAttributes"></app-benefits></p-fieldset>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header" style="width: auto;">
                <span [ngClass]="{'tabError': !isOrganisationAndInternalTeamReviewValidTab}">{{
                    'orgDetailLabels.orgDetails' | translate }}</span>
            </ng-template>
            <p-fieldset *ngIf="isSectionAvailable('Customer')" legend="{{ 'orgDetailLabels.customer' | translate }}" [toggleable]="true"><app-customer
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-customer></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Project Delivery')" legend="{{ 'orgDetailLabels.projectDelivery' | translate }}"
            [toggleable]="true"><app-project-delivery [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-project-delivery></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Credit Allocation')" legend="{{ 'innovaTeamLabels.creditAllocation/producers' | translate }}"
            [toggleable]="true"><app-credit-allocation
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-credit-allocation></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Shared Services Team')" legend="{{ 'innovaTeamLabels.sharedServicesTeam' | translate }}"
            [toggleable]="true"><app-shared-service [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-shared-service></p-fieldset>
            <!-- <p-fieldset legend="Segmentation" [toggleable]="true"><app-segmentation [reviewData]="reviewData" ></app-segmentation></p-fieldset>
                <p-fieldset legend="Customer Specific Field Expenses" [toggleable]="true"><app-customer-expenses [reviewData]="reviewData" ></app-customer-expenses></p-fieldset>
                <p-fieldset legend="Customer Specific Field Piecework" [toggleable]="true"><app-customer-piecework [reviewData]="reviewData" ></app-customer-piecework></p-fieldset> -->
                                 <!-- <p-fieldset legend="IT Solutions COE" [toggleable]="true"><app-it-solutions [reviewData]="reviewData" ></app-it-solutions></p-fieldset> -->
            <!-- <p-fieldset legend="{{ 'orgDetailLabels.clientContact' | translate }}" [toggleable]="true">
                <app-client-contact [reviewData]="reviewData"></app-client-contact> </p-fieldset> -->
            <!-- <p-fieldset legend="{{ 'orgDetailLabels.location' | translate }}" [toggleable]="true"> <app-location [reviewData]="reviewData"></app-location> </p-fieldset> -->
            <!-- <p-fieldset legend="{{ 'orgDetailLabels.vendor' | translate }}" [toggleable]="true"> <app-vendor
                    [reviewData]="reviewData"></app-vendor></p-fieldset> -->
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header" style="width: auto;">
                <span [ngClass]="{'tabError': !isPayBillAndTimeSetupReviewValidTab}">{{ 'payBillLabels.pay&bill' |
                    translate }}</span>
            </ng-template>
            <p-fieldset *ngIf="isSectionAvailable('Payroll')" legend="{{ 'payBillLabels.payRoll' | translate }}" [toggleable]="true"><app-payroll
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-payroll></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Rates')" legend="{{ 'payBillLabels.rates' | translate }}" [toggleable]="true"><app-rates
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-rates></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Pay and Bill Approver')" legend="{{ 'payBillLabels.payAndBillApprover' | translate }}"
            [toggleable]="true"><app-pay-bill-approver
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-pay-bill-approver></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Billing')" legend="{{ 'payBillLabels.billing' | translate }}" [toggleable]="true"><app-billing
            [reviewData]="reviewData" [roleAttributes]="roleAttributes"></app-billing></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Time Setup')" legend="{{ 'timeSetupLabels.timeSetup' | translate }}" [toggleable]="true"> <app-time-setup
            [reviewData]="reviewData"  [roleAttributes]="roleAttributes"></app-time-setup></p-fieldset>
            <p-fieldset *ngIf="isSectionAvailable('Time Elements And Rate')" legend="{{'payBillLabels.timeElementsAndRates' | translate }}" [toggleable]="true"> 
            <app-time-elements-and-rates [reviewData]="reviewData"  [roleAttributes]="roleAttributes"></app-time-elements-and-rates></p-fieldset>
            </p-tabPanel>
        <!-- <p-tabPanel header="{{ 'hireLabels.otherHireDetaisl' | translate }}">
            <p-fieldset legend="{{ 'hireLabels.directHire' | translate }}" [toggleable]="true"><app-direct-hire [reviewData]="reviewData"></app-direct-hire></p-fieldset>
        </p-tabPanel> -->
        <p-tabPanel header="{{ 'placementReviewLevel.viewCustomFields' | translate }}">
            <p-fieldset legend="{{ 'placementReviewLevel.viewCustomFields' | translate }}"
            [toggleable]="true" ><app-custom-search-fields
            [reviewData]="reviewData"></app-custom-search-fields></p-fieldset>
        </p-tabPanel>
        <div class="pb-03"></div>
        <div class="col-11 footer">
            <button pButton type="button" class="p-button-info btn" (click)="next()" *ngIf="index < noOfTabs">{{
                'placementReviewLevel.next' | translate }}</button>
            <button pButton type="button" class="p-button-info btn mr-1" (click)="openPrev()" *ngIf="index != 0">{{
                'placementReviewLevel.previous' | translate }}</button>
        </div>
        <div class="pb-03"></div>

    </p-tabView>
</div>
<p-dialog [(visible)]="display" [style]="{ width: '35vw' }" [modal]="true" [draggable]="false" [closable]="false">
    <div class="w-full flex flex-column align-items-center justify-content-center gap-2 py-3">
        <div class="logout-text">
            <b>{{ 'iconLabels.reviewAlert' | translate }}</b>
        </div>

        <div class="dialogcontent">
            {{ 'iconLabels.reviewChangeMsg' | translate }}
        </div>
        <div class="displayStatusTxt">
            {{ displayStatus }}
        </div>
        <div *ngIf="reviewCompleteRoleName === 'finance'">
            <form [formGroup]="financeReviewerCommentsForm" *ngIf="financeReviewerCommentsForm"
                class="field commentBox mb-0 ">
                <div class="grid">
                    <div class=" col-12 md:col-10 lg:col-10" >
                        <p class="reason-hold">{{ 'changeStatusLabels.reason' | translate }} <span
                            class="text-danger">*</span></p>
                    <p-dropdown [style]="{ height: '2.4rem', width: '108%' }" type="text"
                        [options]="financeReviewReasonList" [showClear]="true" formControlName="financeReviewStatusReason"
                        placeholder="{{ 'changeStatusLabels.reasonDropdownPlaceholder' | translate }}"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name" appendTo="body">
                    </p-dropdown>
                        <small class="p-error block" *ngIf="financeReviewerCommentsForm.get('financeReviewStatusReason')!.invalid && (financeReviewerCommentsForm.get('financeReviewStatusReason')!.dirty || financeReviewerCommentsForm.get('financeReviewStatusReason')!.touched)" >{{ errorMessages.mandatory
                            }}</small>
                    </div>
                    <div class=" col-12 md:col-12 lg:col-12">
                        <p class="comment-reason">{{ 'changeStatusLabels.comments' | translate }}:</p>
                        <textarea rows="5" cols="80" [maxlength]="500" pInputTextarea
                            formControlName="financeReviewerComments"></textarea>
                    </div>
                </div>
                
                <!-- <p class="comment-reason">{{ 'changeStatusLabels.comments' | translate }}:</p>
                <textarea rows="5" cols="80" [maxlength]="500" pInputTextarea
                    formControlName="financeReviewerComments"></textarea> -->
                <!-- <small class="p-error block" *ngIf="isFieldValid('comments')">{{ errorMessages.mandatory }}</small> -->
            </form>
        </div>
        <div class="flex align-items-center gap-3 mt-3">
            <button pButton type="button" (click)="cancel()" class="close-btn cancel-btn">{{ 'iconLabels.cancel' |
                translate }}</button>
            <button pButton type="button" class="close-btn" (click)="finaceReviewComplete()">{{ 'iconLabels.confirm' |
                translate }}</button>
        </div>
    </div>
</p-dialog>
<app-placement-repository *ngIf="reviewFlag" [reviewFlag]="reviewFlag" [reviewData]="reviewData"
    (reviewFlagEmitter)="reviewFlagListener($event)"></app-placement-repository>
<p-toast key="add"></p-toast>