@import 'all';
:host ::ng-deep {
    .p-inputgroup-addon {
        padding: 0;
    }
    .p-dropdown {
        height: 2.5rem;;
        width: 22rem;
    }
    .p-inputtext {
        width: 22rem;
    }
    .border-round-sm{
        .p-inputtext{
            width: 19.5rem;
        }
    }
}

.center {
    margin: auto;
    padding: 10px;
    height: 2.5rem;
  }

.bd-radius {  
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}

.pd-00 {
    padding: 0;
}
.mt-02 {
    margin-top: 2rem;
}
.ml-005 {
    margin-left: 0.5rem;
}
.pd-01 {
    padding: 1rem;
}
.pb-01 {
    padding-bottom: 1rem;
}
.lable-font {
    font-size: 12px;
    font-weight: 600;
}
.lable-radio {
    font-size: 12px;
}
.checkbox-font {
    font-size: 12px;
}
.header-color {
    color: $primaryblue;
}
.left {
    justify-content: left !important;
}
.button-save {
    padding: 0.45rem 0.8rem;
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: $primaryblue;
    border-color: $primaryblue;
    color: white;
    border: 1px solid;
    margin-right: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}