@import 'all';

:host::ng-deep {

    .p-datatable .p-datatable-thead > tr > th {
        text-align: center;
        height: 40px !important;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        text-align: center;
        height: 40px !important;
    }

    .p-datatable-scrollable > .p-datatable-wrapper {
        min-height: 35rem !important;
        max-height: 35rem !important;
    }
}

  
 