$bodybackground: #eee;
$fontcolor: #000;
$globalfontcolor:#333;
$dgraybg:#999;
$scrlbg: #d7d7d7;
$scrlbghover: #c2c2c2;
$scrlthumb: #c1c1c1;
$scrlbtn: #bbb;
$wgray: #E4E4E4;
$menuBackground: #f9fafb;
$disabledfields:#4b5563;

$primaryblue: #11479f;
$headercolor: #0d3069;
$tableheader: #9dbdf1;
$infoblue: #03a9f4;
$dangerred: #f44336;
$successgreen: #5cb85c;
$warningorange: #f0ad4e;
$warningorangehover: #ec971f;
$wgreen: #388a2e;
$yellow: #fff000;

$white: #fff;
$listcolor: #555;
$headerbg: #2096cd;
$anchorcolor: #2096cd;
$inutBorderColorGray: #d2d2d2;
$inutBorderColorLightGray: #ccc;
$colorGray: #777;
$colorLightWhite: #e5e5e5;
$colorLightBlue: #deebff;
$colorClay: #8a6d3b;
$colorSilk: #fcf8e3;
$colorZinFizz: #faebcc;
$colorSoftPeach: #f2dede;
$colorQueenPink: #ebccd1;
$colorLightGreen: #dff0d8;
$colorFrostee: #d6e9c6;
$tblrowhoverbg: #f5f5f5;
$bglightgray: #e9edf0;
$bglightgray2: #f2f2f2;
$bglightgray4: #f9f9f9;
$bordergray: #ddd;
$textColorGray: #4c5749;
$tablerowselectedbg: #5bc0de;
$menuHoverbg: #deebff;
$inputBorderColorlightBlue: #305faf;
