$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;

$fs8: 8px;
$fs9: 9px;
$fs10: 10px;
$fs11: 11px;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs32: 32px;
$fs42: 42px;

$height17: 17px;
$weight17: $height17;
$height20: $fs20;
$weight20: $fs20;
$weight25: 25px;

$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw900: 900;

$Width10: $fs10;
$w100: 100%;

$gutter0: 0px;
$gutter1: 1px;
$gutter2: 2px;
$gutter3: 3px;
$gutter4: 4px;
$gutter5: 5px;
$gutter6: 6px;
$gutter7: 7px;
$gutter8: $fs8;
$gutter9: $fs9;
$gutter10: $fs10;
$gutter11: $fs11;
$gutter12: $fs12;
$gutter13: $fs13;
$gutter14: $fs14;
$gutter15: 15px;
$gutter16: $fs16;
$gutter17: $height17;
$gutter18: 18px;
$gutter19: 19px;
$gutter20: 20px;
$gutter21: 21px;
$gutter22: 22px;
$gutter23: 23px;
$gutter24: 24px;
$gutter25: 25px;
$gutter26: 26px;
$gutter27: 27px;
$gutter28: 28px;
$gutter29: 29px;
$gutter30: 30px;

$gutterNeg2: -2px;

$calendariconpadding: 0 7px;

$float-left: left;
$float-right: right;

$pos-relative: relative;
$pos-absolute: absolute;
$nowrap: nowrap;

$inputHeight: 2.5rem;
$labelSize: 11px;
$inputWd: 90%
