<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_dhpfp">{{ 'directHireLabel.directHirePer' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.directHirePlacementFeePercentage}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_dhpfa">{{ 'directHireLabel.directHireAmt' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.directHirePlacementFeeAmount}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_guterm">{{ 'directHireLabel.guaranteeTerms' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.guaranteeTermsDays}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_invterm">{{ 'directHireLabel.invoiceTerms' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.invoiceTermsSpreadIntervals}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_internotes">{{ 'directHireLabel.invoiceTermsNotes' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.invoiceTermsNotes}}</span>
    </div>
</div>