<form [formGroup]="benefitsForm">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('tenurePremiumWorker')">
            <label for="_tpw">{{ 'benefitLabel.tenurePremiumWorker' | translate }}<span *ngIf="isFormControlRequired('tenurePremiumWorker')" class="text-danger">*</span></label><br>
            <input type="text" id="_tpw" maxlength="70" [formControl]="tenurePremiumWorkerFormControl" class="inputMargin" pInputText (change)="onFormChange('tenurePremiumWorker')" />
            <small class="p-error block" *ngIf="isValid('tenurePremiumWorker')">{{ errorMessages.mandatory }}</small>
        </div>
        <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('ptoPlan')">
            <label for="_pto">{{ 'benefitLabel.ptoPlan' | translate }}<span *ngIf="isFormControlRequired('ptoPlan')" class="text-danger">*</span></label><br>
            <p-dropdown  id="_pto"  placeholder="{{ 'placeholders.select' | translate }}"
             [formControl]="ptoPlanFormControl" [options]="ptoPlanList" optionLabel="name" optionValue="id" (onChange)="onFormChange('ptoPlan')" ></p-dropdown>
            <small class="p-error block" *ngIf="isValid('ptoPlan')">{{ errorMessages.mandatory }}</small>
        </div>
        <!-- <div class="col-12 md:col-6 lg:col-4">
            <label  for="_holiday">{{ 'benefitLabel.holiday' | translate }}</label><br>
            <p-dropdown  id="_holiday" [formControl]="holidayPlanFormControl" [options]="holidayPlanList" optionLabel="name" optionValue="id" (onChange)="onFormChange('holidayPlan')"
            placeholder="{{ 'placeholders.select' | translate }}" ></p-dropdown>
        </div> -->
        <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('sickPlan')">
            <label  for="_sick">{{ 'benefitLabel.sickPlan' | translate }}<span *ngIf="isFormControlRequired('sickPlan')" class="text-danger">*</span></label><br>
            <p-dropdown  id="_sick" [formControl]="sickPlanFormControl" [options]="sickPlanList" optionLabel="name" optionValue="id" (onChange)="onFormChange('sickPlan')"
            placeholder="{{ 'placeholders.select' | translate }}" ></p-dropdown>
            <small class="p-error block" *ngIf="isValid('sickPlan')">{{ errorMessages.mandatory }}</small>
        </div>
        <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('holidayPlanType')">
            <label  for="_holidayPlan">{{ 'benefitLabel.holidayPlanType' | translate }}<span *ngIf="isFormControlRequired('holidayPlanType')" class="text-danger">*</span></label><br>
            <p-dropdown  id="_holidayPlan" [formControl]="holidayPlanTypeFormControl" [options]="holidayPlanTypeList" optionLabel="name" optionValue="id" (onChange)="onFormChange('holidayPlanType')"
            placeholder="{{ 'placeholders.select' | translate }}" ></p-dropdown>
            <small class="p-error block" *ngIf="isValid('holidayPlanType')">{{ errorMessages.mandatory }}</small>
        </div>
        <div class="col-12 md:col-6 lg:col-4" *ngIf="isFormControlFieldDisplay('vacation')">
            <label  for="_vacation">{{ 'benefitLabel.vacation' | translate }}<span *ngIf="isFormControlRequired('vacation')" class="text-danger">*</span></label><br>
            <p-dropdown  id="_vacation" [formControl]="vacationFormControl" [options]="vacationList" optionLabel="name" optionValue="id" (onChange)="onFormChange('vacation')"
            placeholder="{{ 'placeholders.select' | translate }}" ></p-dropdown>
            <small class="p-error block" *ngIf="isValid('vacation')">{{ errorMessages.mandatory }}</small>
        </div>
    </div>        
</form>