
<div class="card">
    <p-table #dt [columns]="cols"  [value]="downloadedHistory" [paginator]="true" [resetPageOnSort]="true" 
    [showCurrentPageReport]="true" [totalRecords]="dataTableCount"  [loading]="loading" [rows]="10"
    currentPageReportTemplate="{first} to {last} of {totalRecords}" responsiveLayout="scroll" [breakpoint]="'960px'"
    [rowsPerPageOptions]="[25, 50, 100, 200]" [scrollable]="true" selectionMode="single">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="history_header" *ngFor="let col of columns" [pSortableColumn]="col.field"
                    [pSortableColumnDisabled]="col.field == 'attachment'">
                    {{ col.header }}
                  
                </th>
            </tr>
            <tr>
                <th id="filter_header" *ngFor="let col of columns">
                    <span class="p-input-icon-right ml-auto" *ngIf="col.field !== 'attachment'">
                        <i class="pi pi-search"></i>
                        <input pInputText *ngIf="col.field !== 'attachment'"
                            (input)="$any(dt).filter($any($event.target).value, col.field, 'contains');"
                            [value]="$any(dt).filters[col.key]?.value" />
                    </span>
                </th>
            </tr>
        </ng-template>
<!--         
        <ng-template pTemplate="header">
            <tr>
                <th>File Id</th>
                <th>File Name</th>
                <th>File Type</th>
                <th>Distribution</th>
                <th>File Size</th>
                <th>Date Added</th>
            </tr>
        </ng-template> -->
        <ng-template pTemplate="body" let-list>
            <tr>
                 <td>{{list.userId}}</td>
                <td>{{list.fileId}}</td>
                <td>{{list.fileName}}</td>  
                <td>{{list.fileType}}</td> 
                <td>{{list.candidateId}}</td>    
                <td>{{list.downloadTime}}</td>    
                                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="emptyMsg">No Data Found</td>
            </tr>
        </ng-template>
    </p-table>
       
</div>

