<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_consal">{{ 'contractHireLabels.conSalary' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.conversionSalary}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_confee">{{ 'contractHireLabels.conFee' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.conversionFee}}</span>  
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_condate">{{ 'contractHireLabels.conDate' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.conversionDate}}</span>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <label for="_connotes">{{ 'contractHireLabels.conNotes' | translate }}</label><br>
        <span class="disabledFields">{{allReviewData?.assignment?.conversionNotes}}</span>  
    </div>
</div>