<div class="card-container">
    <p-card class="card" header="{{'adminFields.customFieldConfiguration' | translate}}" >
        <!-- <div class="card-content-dummy"></div> -->
        <ng-template pTemplate="footer">
            <div >
                <button class="btn" pButton="pButton"  routerLinkActive="p-button-info active" (click)="routeToCustomFields()">Add</button>
            </div>
        </ng-template>
    </p-card>
    <p-card class="card" header="{{'adminFields.viewCustomFieldConfig' | translate}}">
        <!-- <div class="card-content-dummy"></div> -->
        <ng-template pTemplate="footer">
            <div>
                <button class="btn" pButton="pButton"  routerLinkActive="p-button-info active" (click)="gotoViewDynamicFields()" >View</button>
            </div>
        </ng-template>
    </p-card>
</div>